body { 
  font-family: Verdana, Courier; 
  padding-left: 2ch; 
  padding-right: 2ch; 
  padding-top: 1ch;
  margin: auto;
  text-align:center;
  align-items: center;
}

#content {
  text-align: left;
}

a {
  color: firebrick;
}

.entry { 
  display: inline; 
  padding: 3px;
}

.comments-box {
  vertical-align: left;
}

.comments-box ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border: 2px solid #CCC;
  border-radius: 2em;
}

.comments-box li {
  margin:0 0 5px 0; 
}

.comments-box label {
  display: inline-block;
  text-align: right;
  width: 100px;
}

.comments-box textarea {
  border-radius: 7px;
  box-sizing: border-box;
  vertical-align: top;
}

#text-input {
  height: 5em;
}

#commentList {
  list-style-type: none;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 1000px;
  float: left;
}

#map-content {
  float: right;
    list-style-type: none;
}

#chart-container {
  height: 500px;
  width: 600px;
}

.map-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
}
