body { 
    font-family: Verdana, Courier; 
    padding-left: 2ch; 
    padding-right: 2ch; 
    padding-top: 1ch;
    margin: auto;
    text-align:center;
}

nav li { 
    display: inline; 
    padding: 3px;
}

a {
    color: firebrick;
}
